{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container main">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="mt-5">
                    <h5>Contact</h5>
                    <div>E-mail: techinspekt@protonmail.com</div>
                    <div>Phone: +420 737 254 557</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
