{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container main">
        <div class="row justify-content-center">
            <div class="col-md-8 mb-5">
                <div class="">
                    <img src="{{ asset('images/banners/home-page-banner.jpg') }}" class="img-fluid">

                    <h5>Contact</h5>
                    <div class="mt-3">E-mail: techinspekt@protonmail.com</div>
                    <div class="mt-3">Phone: +420 737 254 557</div>

                    <div class="mt-3">
                        <a href="https://www.facebook.com/Techinspekt-105048981538279" target="_blank">
                            <i class="material-icons" style="font-size: 30px;vertical-align: middle">facebook</i> Techinspekt Facebook page
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
