{% extends 'base.html.twig' %}

{% block title %}Building defects and causes{% endblock %}

{% block body %}
    <div class="container main">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <h5>Notes and observations</h5>
            </div>
        </div>
    </div>
{% endblock %}
