{% extends 'base.html.twig' %}

{% block title %}Building defect investigation{% endblock %}

{% block body %}
    <div class="container main">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <img src="{{ asset('images/banners/defects.jpg') }}" class="img-fluid">
                <h5>Building defect investigation</h5>
                <p>
                    If you have a particular issue with a building or element of a building and wish to know the cause
                    and possible remedies, you can book an appointment for an initial on-site discussion of the matter.
                    You will receive an initial appraisal of the matter, together with a way forward and cost of
                    providing the complete service. The cost of this initial consultation is 4000kc within the Prague
                    area. If outside of Prague Hlavni mesto the price is 4000Kc plus 7Kc per kilometre of travel
                    distance from Prague 7 to and from the site location.
                </p>
                <p>
                    Click here for more information about building defects [link to page 5]
                </p>

            </div>
        </div>
    </div>
{% endblock %}
