{% extends 'base.html.twig' %}

{% block title %}Construction monitoring service{% endblock %}

{% block body %}
    <div class="container main">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <img src="{{ asset('images/banners/construction-monitoring.jpg') }}" class="img-fluid">
                <h5>Construction monitoring service</h5>
                <p>
                    Construction projects both large and small are frequently problematic in respect to ensuring that
                    what has been contractually agreed between the client and the building contractor is actually
                    delivered. All too frequently changes are made, materials substituted, short cuts taken and defects
                    built into the construction. Construction monitoring provides clients with assurance that an
                    experienced and independent professional is checking the construction site and making a detailed
                    photographic record of both the quality of the work and also the progress being made on site. Whilst
                    the construction monitor cannot directly intervene, unless permitted to do so under the construction
                    contract, the record and comments enable the client to take up the issues with the contractor.
                </p>

            </div>
        </div>
    </div>
{% endblock %}
