{% extends 'base.html.twig' %}

{% block title %}Property condition inspection{% endblock %}

{% block body %}
    <div class="container main">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <img src="{{ asset('images/banners/property-condition-banner.jpg') }}" class="img-fluid">
                <h5>Property condition inspection</h5>

                <b>Simple walk-over inspection</b>
                <p>
                    The aim of this type of inspection is to provide the simple technical inspection of a property to
                    identify any significant defects that may compromise the integrity, functionality or safety. No
                    comment is made about the overall financial value of a property. The inspection will take
                    approximately one hour.
                    To book such an inspection simply fill in the form below.
                </p>
                <p>
                    Simple walk-over inspection cost from 3,700Kc depending on the size of the property and its
                    location. Please copy, paste, complete and email the following information to
                    techinspekt@protonmail.com:
                </p>
                <p>
                    Please include the following in your email:
                </p>

                <ul>
                    <li>Name:</li>
                    <li>E-mail:</li>
                    <li>Phone:</li>
                    <li>Address of property to be inspected:</li>
                    <li>Type of property: apartment / house / other</li>
                    <li>Approximate square meters:</li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
